

nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #27272c;
    padding: 0 130px;
}

ul{
    display: flex;
    list-style: none;
    padding: 0;
}

ul li a{
    text-decoration: none;
    color: #f47838;
    
}


img {
    width: 100px;
    height: 80px;
}

