<div class="div-main">

    <div class="contenedor">
        <div class="pelicula">
            <img [src]="detallepelicula.url">
            <div class="informacion">
                <h1>{{detallepelicula.name}}</h1>
                <p>Año: {{detallepelicula.year}}</p>
                <p>Director: {{detallepelicula.director}}</p>
                <p>Taquilla: {{detallepelicula.taquilla}}</p>
            </div>
        </div>
        <p class="sipnosis">Sipnosis: {{detallepelicula.sipnosis}}</p>
    </div>
    

</div>
